// utils styles
@import './utils/variables';
@import './utils/placeholder';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/container';
@import './components/section';
@import './components/btn';
@import './components/header';
@import './components/logo';
@import './components/nav';
@import './components/hero';
@import './components/skills';
@import './components/works';
@import './components/gang';
@import './components/clients';
@import './components/portfolio';

@import './components/footer';

@import './components/portfolio';
@import './components/portfolio';
@import './components/portfolio';
